/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    text-align: center
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9c300;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e0b800;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    padding: 40px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    float: left;
  }
  
  .logo img {
    height: 60px;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #f9c300;
    color: #fff;
  }
  
  /* Main section styles */
  .hero {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .games {
    padding: 80px 0;
  }
  
  .games h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .games ul {
    display: flex;
    justify-content: space-between;
  }
  
  .games li {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .games li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .games img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .games h3 {
    font-size: 24px;
    margin: 20
  }

  .menu {
    padding: 80px 0;}
  .menu form {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    text-align: left;
  }

  .GameBetting {
    padding: 80px 0;
  }
  .GameBetting form{
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
  }